*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #000000de;
  background-image: url('../Pictures/supermarket-blur.jpg');
  background-size: cover;
}

h1,
h2 {
  color: #000000;
}

.products-table-container {
  max-width: 1225px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px #0000004d;
  background-color: #ffffff;
}

.products-table thead tr {
  background-color: #f5f5f5;
}

.products-table tbody tr:nth-child(even) {
  background-color: #fafafa;
}

.products-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.new-order-header {
  margin-bottom: 22px;
  margin-top: 22px;
  font-size: 1.3rem;
}

span {
  color: #000000;
}

.divider {
  border-top: 1px solid #000000;
  width: 100%;
  margin: 0 -20px;
  padding: 0 20px;
  box-sizing: content-box;
}

.addProdBtn {
  margin: 15px;
  padding: 10px;
  color: #ffffff;
  background: #0050d2;
  float: right;
}

.addOrderBtn {
  margin: 8px;
  padding: 10px;
  color: #ffffff;
  background: #0050d2;
  float: right;
}

.prod-mng-btn {
  margin: 8px;
  padding: 10px;
  color: #ffffff;
  background: #0050d2;
  float: right;
}

.add-edit-buttons-container {
  padding-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #dddddd;
}

.borderless-table {
  border-collapse: collapse;
  border: none;
}

th,
td {
  border: 1px solid #dddddd;
  padding: 8px;
  color: #000000;
  text-align: center;
  vertical-align: center;
}

.borderless-table th,
.borderless-table td {
  border: none;
}

.container-div {
  background-color: #ffffff;
  margin: 20px auto;
  padding: 20px;
  max-width: 1200px;
  width: 100%;
  box-shadow: 0 0 10px #0000004d;
  border-radius: 12px;
}

.orders-table thead tr {
  background-color: #f5f5f5;
}

.orders-table tbody tr:nth-child(even) {
  background-color: #fafafa;
}

.orders-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.orders-table-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px #0000004d;
  background-color: #ffffff;
}

.order-details-container {
  max-width: 700px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px #0000004d;
  background-color: #ffffff;
}

.order-details-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 1.1rem;
}

.order-details-table thead tr {
  background-color: #f5f5f5;
}

.order-details-table th {
  padding: 12px 15px;
  border: 1px solid #dddddd;
}

.order-details-table td {
  padding: 15px 10px;
  border-bottom: 2px solid #cccccc;
}

.order-details-table tbody tr:nth-child(even) {
  background-color: #fafafa;
}

.order-details-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.dashed-seperator-line {
  margin-top: 30px;
  text-align: right;
  font-size: 1.5rem;
  padding-top: 20px;
  border-top: 2px dashed #dddddd;
}

.popup-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -110%);
  width: 620px;
  height: 295px;
  background-color: #ffffff;
  z-index: 100;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px #0000004d;
  border-radius: 8px;
  padding: 10px;
}

.order-item-div {
  background-color: #ffffff;
  max-width: 1200px;
  width: 100%;
  margin: 20px auto;
  box-shadow: 0 0 10px #0000004d;
  border-radius: 12px;
}

.item-select {
  margin: 15px;
  margin-left: 50px;
  padding: 10px;
  background-color: #f3f5f7;
}

.item-input {
  margin-left: 20px;
  margin-right: 50px;
  padding: 10px;
  background-color: #f3f5f7;
}

.item-total-input {
  margin-left: 20px;
  margin-right: 50px;
  padding: 10px;
  background-color: #f3f5f7;
}

.items-total-input {
  padding: 10px;
  background-color: #f3f5f7;
}

.Overlay::after {
  position: absolute;
  inset: 0;
  background: #0007;
  content: '';
}

.add-edit-prod-input {
  background-color: #eeeeee;
  width: 100%;
  box-sizing: border-box;
}

.add-edit-prod-select {
  background-color: #eeeeee;
  width: 100%;
  box-sizing: border-box;
}

.customer-name-input {
  background-color: #eeeeee;
  float: right;
  padding: 10px;
  margin-top: -50px;
}

.total-div {
  margin: 25px auto;
  background-color: #ffffff;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 0 10px #0000004d;
  border-radius: 12px;
}

button {
  margin: 8px;
  padding: 8px;
  color: #000000;
  background-color: #EEEEFF;
  /* fixed invalid rgb() */
  cursor: pointer;
}

.index-button:hover {
  background-color: #96bdd8;
}

.index-button-container {
  text-align: center;
  margin: 60px;
}

.index-button {
  padding: 30px;
  margin-bottom: 20px;
  width: 700px;
  border-radius: 30px;
  font-size: x-large;
}

.remove-btn {
  color: #ffffff;
  background: #ee6056;
  float: right;
  margin-top: 15px;
  margin-right: 22px;
}

.delete-btn {
  color: #ffffff;
  background: #ee6056;
}

.save-btn {
  color: #ffffff;
  background-color: #0050d2;
  float: right;
}

.cancel-btn {
  float: right;
}

.add-item-btn {
  background-color: #0050d2;
  color: #ffffff;
  float: right;
  margin-right: -5px;
}

.price-cell {
  width: 350px;
}

.unit-cell {
  width: 300px;
}