*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.87);
  background-image: url('./Pictures/supermarket-blur.jpg');
  background-size: cover;
}


h1,
h2 {
  color: black;
}

span {
  color: black;
  margin: 5px;

}

.addProdBtn {
  margin: 15px;
  padding: 10px;
  color: white;
  background: rgb(0, 80, 210);
  float: right;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  background-color: white;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  color: black
}

div {
  background-color: white;
  margin: 20px auto;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

.popUpDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -110%);
  width: 600px;
  height: 270px;
  background-color: white;
  z-index: 100;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.Overlay::after {
  position: absolute;
  inset: 0;
  background: #0007;
  content: ''
}

input {
  background-color: rgb(238, 238, 238);
  width: 100%;
}

select {
  background-color: rgb(238, 238, 238);
  width: 100%;
}

button {
  margin: 8px;
  padding: 8px;
  color: black;
  background-color: rgb(238, 238, 2238)
}

.deleteBtn {
  color: white;
  background: rgb(238, 96, 86);
  padding: 5px;
} 

.saveBtn {
  color: white;
  background-color: rgb(0, 80, 210);
  float: right;
}

.cancelBtn {
  float: right;
}

.priceCell {
  width: 350px;
}

.unitCell {
  width: 300px
}