*,
*::before,
*::after {
  box-sizing: border-box;
  /* This is the fix! */
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.87);
  background-image: url('../Pictures/supermarket-blur.jpg');
  background-size: cover;
}


h1,
h2 {
  color: black;
}

span {
  color: black;
  margin: 5px;
}

.divider {
  border-top: 1px solid black;
  width: 100%;
  margin: 0 -20px;
  padding: 0 20px;
  box-sizing: content-box;
}

.addProdBtn {
  margin: 15px;
  padding: 10px;
  color: white;
  background: rgb(0, 80, 210);
  float: right;
}

.addOrderBtn {
  margin: 8px;
  padding: 10px;
  color: white;
  background: rgb(0, 80, 210);
  float: right;
}

.prodMngBtn {
  margin: 8px;
  padding: 10px;
  color: white;
  background: rgb(0, 80, 210);
  float: right;
}

.addEditbuttonsContainer {
  padding-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

.borderlessTable {
  border-collapse: collapse;
  border: none;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  color: black
}

.borderlessTable th,
.borderlessTable td {
  border: none;
}

.containerDiv {
  background-color: white;
  margin: 20px auto;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
}

.popUpDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -110%);
  width: 620px;
  height: 295px;
  background-color: white;
  z-index: 100;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 10px;

}

.Overlay::after {
  position: absolute;
  inset: 0;
  background: #0007;
  content: ''
}

.addEditProdInput {
  background-color: rgb(238, 238, 238);
  width: 100%;
  box-sizing: border-box;
}

.addEditProdSelect {
  background-color: rgb(238, 238, 238);
  width: 100%;
  box-sizing: border-box;
}

.customerNameInput {
  background-color: rgb(238, 238, 238);
  float: right;
  padding: 10px;
  margin-top: -10px;
}


.totalDiv {
  /* This class ensures the total bar is centered and looks like the containerDiv */
  /* Combine margin-top and margin: auto for centering */
  margin: 100px auto 20px auto;
  background-color: white;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

button {
  margin: 8px;
  padding: 8px;
  color: black;
  background-color: rgb(238, 238, 2238)
}

.deleteBtn {
  color: white;
  background: rgb(238, 96, 86);
  padding: 5px;
}

.saveBtn {
  color: white;
  background-color: rgb(0, 80, 210);
  float: right;
}

.cancelBtn {
  float: right;
}

.priceCell {
  width: 350px;
}

.unitCell {
  width: 300px
}